<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <webSocket enabled="false" />
    
    <handlers>
      <!-- Đảm bảo rằng IIS sẽ xử lý các yêu cầu với index.js bằng iisnode -->
      <add name="iisnode" path="index.js" verb="*" modules="iisnode" />
    </handlers>

    <rewrite>
      <rules>
        <!-- Quy tắc này cho phép truy cập vào Node Inspector khi cần -->
        <rule name="NodeInspector" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="^index.js\/debug[\/]?" />
        </rule>

        <!-- Quy tắc để xử lý tệp tĩnh từ thư mục public -->
        <rule name="StaticContent">
          <action type="Rewrite" url="public{REQUEST_URI}" />
        </rule>

        <!-- Quy tắc để xử lý các yêu cầu động (tệp JS) -->
        <rule name="DynamicContent">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True" />
          </conditions>
          <action type="Rewrite" url="index.js" />
        </rule>
      </rules>
    </rewrite>

    <security>
      <requestFiltering>
        <!-- Loại bỏ thư mục bin khỏi các segment ẩn -->
        <hiddenSegments>
          <remove segment="bin" />
        </hiddenSegments>
      </requestFiltering>
    </security>

    <!-- Giữ nguyên thông báo lỗi HTTP và chuyển tiếp chúng -->
    <httpErrors existingResponse="PassThrough" />

    <!-- Đảm bảo theo dõi các tệp quan trọng của ứng dụng Node.js -->
    <iisnode watchedFiles="web.config;*.js;routers\*.js;models\*.js;node_modules\*;package.json" debuggingEnabled="true" />
  </system.webServer>
</configuration>
