<configuration>
  <system.webServer>
    <!-- Cấu hình để IIS sử dụng iisnode để xử lý yêu cầu đến ứng dụng Node.js -->
    <handlers>
      <add name="iisnode" path="index.js" verb="*" modules="iisnode"/>
    </handlers>

    <!-- Cấu hình URL rewrite để chuyển hướng yêu cầu đến Node.js -->
    <rewrite>
      <rules>
        <!-- Quy tắc để bật Debugger (tuỳ chọn) -->
        <rule name="NodeInspector" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="^index.js\/debug[\/]?" />
        </rule>

        <!-- Quy tắc để xử lý các tài nguyên tĩnh -->
        <rule name="StaticContent" stopProcessing="true">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" />
          </conditions>
          <action type="None" />
        </rule>

        <!-- Quy tắc để chuyển hướng yêu cầu động đến ứng dụng Node.js -->
        <rule name="DynamicContent">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="index.js" />
        </rule>
      </rules>
    </rewrite>

    <!-- Bật logging và devErrors để dễ dàng kiểm tra lỗi -->
    <iisnode loggingEnabled="true" devErrorsEnabled="true"/>
  </system.webServer>
</configuration>
